* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;   
}

@font-face {
    font-family: Orbitron;
    src: url(./Orbitron/Orbitron-Regular.ttf);
}

@font-face {
    font-family: Orbitron;
    font-weight: bold;
    src: url("./Orbitron/Orbitron-Bold.ttf");
}

body {
    background: url("./1000.jpg");
    background-size: cover;
}

.main {
    background: -webkit-linear-gradient(top, #27b0f6 0%, #0aa1ed 100%);
    width: 600px;
    height: 195px;
    margin: 150px auto;
    position: relative;
    padding: 30px;
    box-shadow: 0px 0px 6px 10px #fcce64;
    border-radius: 5px;
}

.main .badge {
    background: #e66357;
    color: #fff;
    font-family: sans-serif;
    padding: 5px 10px;
    text-align: center;
    width: 96px;
    position: absolute;
    left: 40%;
    top: -15px;

}

.main .badge a {
    text-decoration: none;
    color: #fff;
}

.main .clock {
    background: #292c34;
    color: #fff;
    text-align: center;
    font-size: 55px;
    height: 100%;
    padding-top: 5px;
    font-family: Orbitron;
    border-radius: 5px;
}

.main .clock .millis {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.main .clock .days {
    font-family: Orbitron;
    font-size: 45px;
}

.main .count {
    background: none;
    width: 540px;
    height: 35px;
    margin-top: 45px;
    font-size: 40px;
    position: relative;
}

.main .count .btn {
    background: -webkit-linear-gradient(top, #27b0f6 0%, #0aa1ed 100%);
    width: 90px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    line-height: 50px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.main .count .btn:hover {
    cursor: pointer;
    width: 110px;
    background: #fff;
    color: #27b0f6;
    border: 4px solid #27b0f6;
    line-height: 45px;
}

.main .count .reset {
    position: absolute;
    top: 6px;
    right: 233px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}